{include file="public/header" /}



<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>{$Think.lang.video_set}</h3>
                <h5></h5>
            </div>
            {include file="public/admin_items" /}
        </div>
    </div>

     <form id="im_form" method="post" enctype="multipart/form-data" name="form1">
         <table class="ds-default-table">
                <tbody>
                    <tr class="noborder"> 
                        <td class="required w150"><label class="validation" for="vod_tencent_secret_id">{$Think.lang.vod_tencent_secret_id}:</label></td>
                        <td class="vatop rowform">
                            <input id="vod_tencent_secret_id" name="vod_tencent_secret_id" value="{$list_config.vod_tencent_secret_id|default=''}" class="w300" type="text">
                        </td>
                        <td class="vatop tips"></td>
                    </tr>
                    <tr class="noborder"> 
                        <td class="required w150"><label class="validation" for="vod_tencent_secret_key">{$Think.lang.vod_tencent_secret_key}:</label></td>
                        <td class="vatop rowform">
                            <input id="vod_tencent_secret_key" name="vod_tencent_secret_key" value="{$list_config.vod_tencent_secret_key|default=''}" class="w300" type="text">
                        </td>
                        <td class="vatop tips">{$Think.lang.vod_tencent_tips}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="tfoot">
                        <td></td>
                        <td colspan="15"><input class="btn" type="submit" value="{$Think.lang.ds_submit}"/></td>
                    </tr>					
                </tfoot>
            </table> 
     </form>
</div>


<script type="text/javascript">
    $(function() {
        $('#im_form').validate({
            errorPlacement: function(error, element) {
                error.appendTo(element.parent().parent().find('td:last'));
            },
            rules: {
                vod_tencent_secret_id: {
                    required: true,
                },
                vod_tencent_secret_key: {
                    required: true,
                },
            },
            messages: {
                vod_tencent_secret_id: {
                    required: '{$Think.lang.vod_tencent_secret_id_required}',
                },
                vod_tencent_secret_key: {
                    required: '{$Think.lang.vod_tencent_secret_key_required}',
                },
            }
        });
    });
</script>