<!doctype html>
<html  style="font-size: 50px;">

	<head>
		<meta charset="UTF-8">
		<title>财富天下</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		  <script src="__HOME_JS__/mui.min.js"></script>
		<link href="/home/css/mui.min.css" rel="stylesheet" />
		<link href="/home/css/reset.css" rel="stylesheet" />
		<style type="text/css">
			.mui-bar {background: #fff;}
			.mui-input-row label {
				font-size: .32rem;
				color: #444;
			}
			.mui-input-group .mui-input-row:after {
				left: 0;
				background-color: #E6E6E6;
			}
			.mui-bar-nav {
			    padding-top: 20px;
			    box-sizing: content-box;
			    background-color: #fff;
			    border-bottom: 1px solid #eee;
			}			
			.mui-input-group .mui-input-row,
			.mui-input-row label~input {
				height: 60px;
			}
			.mui-input-row label {
				line-height: 40px;
			}
			.app-btn {
				padding: 15px;
				background: #3C7FFF;
				border: 1px solid #3C7FFF;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">出售</h1>
		</header>
		<div class="mui-content">
			<form class="mui-input-group" style="margin-top: .5rem;">

				<div class="mui-input-row">
					<label>数量</label>
					<input name="number" id="number" type="number" class="mui-input-clear mui-input" placeholder="请输入出售数量">
				</div>
				<div class="mui-input-row">
					<label>支付密码</label>
					<input id='password' type="password" class="mui-input-clear mui-input" placeholder="验证支付密码" name="password">
				</div>
				<div class="mui-input-row mui-radio">
					<label >可售额度余额:¥{$result.ore_wallet}</label>
					
				</div>
				<div class="mui-input-row mui-radio">
					<label >POW额度:¥{$result.forepart_money}</label>
					
				</div>
				<div class="mui-input-row mui-radio">
					<label >手续费:{$shouxufei*100}%</label>
					
				</div>
				<div class="mui-input-row mui-radio">
					<label id="moeny" >实际扣除可售额度:¥0</label>
					
				</div>
				
				<!--<div class="mui-input-row">
					<label>验证码</label>
					<input id='' type="text" class="mui-input-clear mui-input" placeholder="请输入验证码">
				</div>-->
			</form>

			<div class="mui-content-padded">
				<button id="submit" class="mui-btn mui-btn-block mui-btn-warning app-btn">提交</button>
			</div>
		</div>

				<script>
					mui.init({
						swipeBack: true //启用右滑关闭功能
					});
					
				(function($) {
						//监听点击事件
						document.getElementById("submit").addEventListener('tap',function(){
							var number = $("input[name=number]")[0].value;
							//var type = $("input[name=radio1]:checked")[0].value;
							var type = 1;
							var password = $("input[name=password]")[0].value;
							
							var sxf = parseFloat(number) * parseFloat('{$shouxufei}') + parseFloat(number);
							
							var total = '{$result.ore_wallet}';
							var usable = '{$result.forepart_money + $result.fry_data}';
							
							if(sxf>total || sxf>usable){
								$.toast('可用可售额度不足');
								return false;
							}
							
							if(!number){
								$.toast('请输入卖出数量！');
								return false;
							}
							var reg=/^[0-9]+.?[0-9]*$/; 
							if(!reg.test(number)){
								$.toast('卖出数量必须是数字！');
								return false;
							}
							if(!password){
								$.toast('请输入支付密码！');
								return false;
							}
		
							//console.log(password);				
							$.ajax('/sell_yu.html',{
								data:{op:'588cmmphp',password:password,number:number,type:type},
								dataType:'json',//服务器返回json格式数据
								type:'post',//HTTP请求类型
								async:false,
								timeout:50000,//超时时间设置为50秒；	              
								success:function(data){
									if(data.s=='ok'){
										$.toast('卖出成功');
											setTimeout(function(){
											//页面刷新  
												window.location.href = "/maichu.html";
											},1500);
									}else{
										$.toast(data.s);
									}
									//console.log(data);
									event.stopPropagation();
								}
							});
							event.stopPropagation();
						
						});
					})(mui);
		
					document.getElementById("number").addEventListener('input', function(e) {
									
						var sxf = parseFloat(this.value) * parseFloat('{$shouxufei}') + parseFloat(this.value);
						console.log(sxf);
						if(!isNaN(sxf)){
							mui("#moeny")[0].innerHTML="￥"+ sxf;
						}else{
							mui("#moeny")[0].innerHTML="￥0";
						}
					});				
					 //语音识别完成事件
					document.getElementById("search").addEventListener('recognized', function(e) {
						console.log(e.detail.value);
					});
				</script>

	</body>

</html>