
{extend name="index:base" /}
{block name="title"}<title>后台管理系统</title>{/block}
{block name="style"}
<style>
.paging{
   margin-top:30px;
}
.home{
	color:#fff;border: 1px #b6b6b6 solid;background: #b6b6b6; padding: 15px;height: 38px;line-height: 38px;
}
.all{
	color:#fff;border: 1px #999 solid;background: #999; padding: 15px;height: 38px;line-height: 38px;
}
.market_s{
	color:#fff;border: 1px #ff7600 solid;background: #ff7600; padding: 15px;height: 38px;line-height: 38px;
}
.market_submit{
	color:#fff;border: 1px #0089ff solid;background: #0089ff; padding: 15px;height: 38px;line-height: 38px;
}
</style>
{/block}
{block name="body"}

<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">买入订单</h2>
      </div>
      <section class="mtb">
	   <form action="" method="get" >
		&nbsp;&nbsp;状态	
	   <select class="select" name="status">
			<option value="0">&nbsp;&nbsp;&nbsp;选择&nbsp;&nbsp;&nbsp;</option>
			<option value="1" {if condition="$status eq '1'"}selected{/if}>&nbsp;&nbsp;&nbsp;冻结&nbsp;&nbsp;&nbsp;</option>
			<option value="2" {if condition="$status eq '2'"}selected{/if}>&nbsp;&nbsp;&nbsp;成功交易&nbsp;&nbsp;&nbsp;</option>
			<option value="3" {if condition="$status eq '3'"}selected{/if}>&nbsp;&nbsp;&nbsp;等待中&nbsp;&nbsp;&nbsp;</option>
			<option value="4" {if condition="$status eq '4'"}selected{/if}>&nbsp;&nbsp;&nbsp;完成匹配&nbsp;&nbsp;&nbsp;</option>
			<option value="5" {if condition="$status eq '5'"}selected{/if}>&nbsp;&nbsp;&nbsp;取消&nbsp;&nbsp;&nbsp;</option>

       </select>
	   
	   &nbsp;&nbsp;次数	
	   <select class="select" name="number">
			<option value="0">&nbsp;&nbsp;&nbsp;选择&nbsp;&nbsp;&nbsp;</option>
			<option value="1" {if condition="$status eq '1'"}selected{/if}>&nbsp;&nbsp;&nbsp;第一次&nbsp;&nbsp;&nbsp;</option>
			<option value="2" {if condition="$status eq '2'"}selected{/if}>&nbsp;&nbsp;&nbsp;第二次&nbsp;&nbsp;&nbsp;</option>
			<option value="3" {if condition="$status eq '3'"}selected{/if}>&nbsp;&nbsp;&nbsp;第三次&nbsp;&nbsp;&nbsp;</option>
			<option value="4" {if condition="$status eq '4'"}selected{/if}>&nbsp;&nbsp;&nbsp;老会员&nbsp;&nbsp;&nbsp;</option>

       </select>
	   
	   &nbsp;&nbsp;会员账号
       <input type="text" class="textbox textbox_125" placeholder="输入会员账号..." name="keyword" value="{$keyword}" />
	   &nbsp;&nbsp;订单号
	    <input type="text" class="textbox textbox_125" placeholder="输入订单号..." name="orderid" value="{$orderid}" />
       <input type="submit" value="查询" class="group_btn"/>
	   <a href="{:url('trade/buyorder')}?style=1" class="home"/>官方委托购买</a>
	   <a href="{:url('trade/buyorder')}?style=2" class="home"/>自助排单</a>
	   <a href="{:url('trade/buyorder')}" class="all"/>全部</a>
		{if condition="$sellid eq ''"}
			<a href="javascript:;" class="market_s"/>匹配</a>
	   {else /}
			<a href="javascript:;" class="market_submit"/>匹配确认</a>
	   {/if}
	   </form>
      </section>
      <table class="table">
       <tr>
        <th style="width:80px;">ID</th>		
		<th>订单号</th>
		<th>会员账号</th>
		<th>单价</th>
		<th>数量</th>
		<th>总金额</th>
		<th>交易方式</th>
		<th>状态</th>
		<th>匹配时间</th>
		<th>完成时间</th>
		<th>添加时间</th>
        <th>操作</th>
       </tr>
       </tr>
	   {foreach name="volist.data" id="vo"}
       <tr class="id_{$vo.id}">
        <td class="center"><input type="checkbox" value="{$vo.id}" name="id" />{$vo.id}</td>
		<td class="center">{$vo.orderid}</td>
        <td class="center">
			{$vo.username}
		</td>
        <td class="center">
			￥{$vo.price}
		</td>
        <td class="center">
			{$vo.amount}
		</td>
        <td class="center">
			￥
			<span style="color:red">{$vo.total_money}</span>
		</td>
        <td class="center">
			{if condition="$vo.style eq '0'"}
				<span style="color:#000;">官方委托购买</span>
			{/if}
			
			{if condition="$vo.style eq '1'"}
				<span style="color:#000;">自助排单</span>
			{/if}
		</td>
		<td class="center">
			{if condition="$vo.status eq '0'"}
				<span style="color:red">冻结</span>
			{/if}
			
			{if condition="$vo.status eq '1'"}
				<span style="color:green">成功交易</span>
			{/if}
			
			{if condition="$vo.status eq '2'"}
				<span style="color:#3c7fff">等待中</span>
			{/if}
			
			{if condition="$vo.status eq '3'"}
				<span style="color:#0091e8;">完成匹配</span>
			{/if}
			
			{if condition="$vo.status eq '4'"}
				<span style="color:red">已取消</span>
			{/if}
			
			
		</td>
		
        <td class="center">
		{if condition="$vo.matetime neq '0'"}
			{$vo.matetime|date="Y-m-d H:i:s",###}
		{else /}
			--
		{/if}	
		</td>	
		<td class="center">
		{if condition="$vo.endtime neq '0'"}
			{$vo.endtime|date="Y-m-d H:i:s",###}
		{else /}
			--
		{/if}
		</td>
			
		<td class="center">{$vo.addtime|date="Y-m-d H:i:s",###}</td>	
        <td class="center">
        <a href="#" title="拆分订单" class="link_icon split" data-id="{$vo.id}" data-orderid="{$vo.orderid}"  data-status="{$vo.status}" style="font-size:14px;">拆分订单</a>
         <a href="#" title="删除" class="link_icon del" data-id="{$vo.id}">&#100;</a>
        </td>
       </tr>
		{/foreach}
      </table>
	  <div>
		<aside class="paging_left">
		   <a id="all">全选</a>
		   <a id="nocheck">取消</a>
		   <a id="reverse">反选</a>
		   <a id="delid">删除</a>
		</aside>
	  {$list->render()}
	 </div>
 </div>
</section>


{/block}
{block name="script"}
<script>
$(document).ready(function() {
	//全选
	$("#all").on('click', function() {
		//全选选中为true，否则为false
		$("input[type=checkbox]").each(function(){ 
		//循环checkbox选择或取消
			$(this).prop("checked",true);
		});
	});
	//取消
	$("#nocheck").on('click', function() {
		$("input[type=checkbox]").each(function(){ 
			$(this).prop("checked",false);
		});
	});
	//反选
	$("#reverse").click(function () { 
		$("table :checkbox").each(function () {  
			$(this).prop("checked", !$(this).prop("checked"));  
		});
	});
	//拆分订单	
	$('.split').click(function(event){
		var id = $(this).attr('data-id');
		var orderid = $(this).attr('data-orderid');
		var status = $(this).attr('data-status');
		if(id){
			if (confirm("确定要拆分订单<"+orderid+">吗？")) {
				if(status!="2"){
					myAlert('该订单状态不能进行拆分操作');return false;
				}
				var url = "{:url('trade/splitOrder')}?type=buy&id="+id;
				//跳转到买入订单页面
				window.location.href = url;	
			}		
		
		}else{
			myAlert('请选择要拆分的订单');return false;
		}
	});
	//删除
	$('.del').click(function(event){
		var id = $(this).attr('data-id');
		if (confirm("确定要删除吗？")) {
			$.ajax({
				url:"{:url('trade/buyorder_del')}",
				dataType:"json",
				type:'POST',
				cache:false,
				data:{op:'buyorder/del_nucm',id:id},
				success: function(data) {
					console.log(data.s);
					if (data.s=='ok') {				
						myAlert('删除成功');
						setTimeout(function(){
							//页面刷新  
							window.location.reload();
						},1000);
					}else {
						myAlert(data.s);
					}
				}
			});		
		}
	}); 
    //批量删除
	$('#delid').click(function(event){
		var id=new Array();  
		$('input[name="id"]:checked').each(function(){  
			id.push($(this).val());//向数组中添加元素  
		});  
		var id_str = id.join(',');//将数组元素连接起来以构建一个字符串 
		if (confirm("确定要删除吗？")) {
			$.ajax({
				url:"{:url('trade/buyorder_delmost')}",
				dataType:"json",
				type:'POST',
				cache:false,
				data:{op:'buyorder/DelAll_nucm',delid:id_str,pid:0},
				success: function(data) {
					console.log(data.s);
					if (data.s=='ok') {				
						myAlert('删除成功');
						setTimeout(function(){
						//页面刷新  
						window.location.reload();
						},1000);
					}else {
						myAlert(data.s);
					}
				}
			});
		}
	});

	//订单匹配 market_s
	$('.market_s').click(function(event){
		var id=new Array();  
		$('input[name="id"]:checked').each(function(){  
			id.push($(this).val());//向数组中添加元素  
		});
		if(!id){
			myAlert('请选择要匹配的订单');return false;
		}
		//只能单选
		if(isNaN(id)){
			myAlert('只能一次匹配一张订单');return false;
		}
		id = $('input[name="id"]:checked').val();
		var url = "{:url('trade/sellorder')}?market_buyid="+id;
		//console.log(id);return false;
		
		//判断订单是否存在
		$.ajax({
			url:"{:url('trade/checked_order')}",
			dataType:"json",
			type:'POST',
			cache:false,
			data:{op:'checked/order',id:id,type:'buy'},
			success: function(data) {
				
				if (data.s=='ok') {	
					//跳转到买入订单页面
					window.location.href = url;
				}else {
					myAlert(data.s);
				}
			}
		});
		
	});	
	
	//订单匹配 market_submit
	$('.market_submit').click(function(event){
		var id=new Array();  
		$('input[name="id"]:checked').each(function(){  
			id.push($(this).val());//向数组中添加元素  
		});
		var id_str = id.join(',');
		if(!id_str){
			myAlert('请选择要匹配的订单');return false;
		}
		//console.log(id_str);return false;
		
		var url = "{:url('trade/market')}";
		
			$.ajax({
				url:"{:url('trade/market_matching')}",
				dataType:"json",
				type:'POST',
				cache:false,
				data:{op:'checked/order',arrid:id_str,type:'sell',id:"{$sellid}"},
				success: function(data) {
					console.log(data.s);
					if (data.s=='ok') {				
						myAlert('匹配成功');
						setTimeout(function(){
						//页面刷新  
						window.location.href = url;
						},1000);
					}else {
						myAlert(data.s);
					}
				}
			});
		
	});	
	
	
});
</script>
{/block}	