body{
    background-color:#fff ;
}
section {
    position: relative;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 0 4px;
    margin-top: 20px;
    color: #99a2bc;
}
.vod_list{
    margin: 14px;
    font-size: 16px;
}
.vod_list li {
    padding-bottom: 20px;
}
.vod_list li .icon-angle-right {
    float: right;
}
.right_span{
   float: left;
}
.active {
    opacity: 0.7;
}