<!doctype html>
<html style="font-size: 50px;">

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="/home/css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="/home/css/icons-extra.css" />
		<link rel="stylesheet" type="text/css" href="/home/css/showLoading.css" />
		<link rel="stylesheet" type="text/css" href="/home/css/page/login.css" />
		<link rel="stylesheet" type="text/css" href="/home/css/page/reg.css" />
	</head>
	<style type="text/css">
		html,body {
			height: 100%;
			background:url(/home/img/loginBl2.png) no-repeat left bottom;
			background-size: 100%;
			overflow: hidden;
		}		
	</style>
	<body>
		<div class="mui-content">
			<div class="avatar">
				<div class="avatar-box" style="margin: .5rem auto;border-radius: 50%;">
					<img src="/home/img/loginHead.png" style="width: 100%;" />
				</div>
			</div>
			<form id='login-form' class="mui-input-group login-form">
				<div class="mui-input-row">
					<label><span class="mui-icon-extra mui-icon-extra-phone"></span></label>
					<input name="mobile" type="number" class=" mui-input" placeholder="请输入手机号" autofocus="">
				</div>
				<div class="mui-input-row">
					<button type="button" class="input-yanzhengma" id="code" style="border-radius: 8px;">
						获取验证码
					</button>
					<label><span class="mui-icon mui-icon-paperplane"></span></label>
					<input id="sms_code" name="sms_code" type="number" class="mui-input" placeholder="请输入验证码">
				</div>
				<div class="mui-input-row">
					<img class="input-eye" src="/home/images/yj1.png" />
					<label><span class="mui-icon mui-icon-locked"></span></label>
					<input name="password"  type="password" class="mui-input" placeholder="请输入密码">
				</div>
				<div class="mui-input-row">
					<img class="input-eye mui-pull-right" src="/home/images/yj1.png" />
					<label><span class="mui-icon mui-icon-locked"></span></label>
					<input name="confirm_password" type="password" class="mui-input" placeholder="请确认密码">
				</div>
			</form>

			<div class="mui-content-padded">
				<button id="submit" class="mui-btn mui-btn-block mui-btn-primary app-btn-login">修改</button>
				
				<div class="link-area link-area1">
					<a href="#protocalModal" id='protocal' style="color: #fff;"></a>
				</div>
			</div>

			<div id="protocalModal" class="mui-modal">
				<header class="mui-bar mui-bar-nav">
					<a class="mui-icon mui-icon-close mui-pull-right" href="#protocalModal"></a>
					
				</header>
				<div class="mui-content" style="height: 100%;overflow: scroll;">
					<div class="protocal-inner">
						

					</div>
				</div>
			</div>
		</div>
		<div class="mui-content"></div>
		<div id="search"></div>
		<script src="__HOME_JS__/mui.min.js"></script>
		<script>
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
			(function($) {
				//监听点击事件
				document.getElementById("code").addEventListener('tap',function(){
					var mobile = $("input[name=mobile]")[0].value;
					var code = "";
					if(!mobile){
						alert('请输入手机号码！');return false;
					}
					
					var reg=/^\d{11}$/;
					if(reg.test(mobile) == false){
						alert('手机号格式不正确');
						return false;
					}
					//console.log(mobile);
					//return false;

					$.ajax('/findpw_msm_send.html',{
						data:{mobile:mobile,code:code},
						dataType:'json',//服务器返回json格式数据
						type:'post',//HTTP请求类型
						async:false,
						timeout:50000,//超时时间设置为50秒；
						/*headers:{'Content-Type':'application/json'},*/	              
						success:function(data){
							//服务器返回响应，根据响应结果，分析是否登录成功；
							alert(data.s);
							//console.log(data);
							//锁定样式 【获取验证码】按钮禁止操作
								
							event.stopPropagation();
						}
					});
					event.stopPropagation();
				
				});
				//
				document.getElementById("submit").addEventListener('tap',function(){
					var mobile = $("input[name=mobile]")[0].value;
					var sms_code = $("input[name=sms_code]")[0].value;					
					var password = $("input[name=password]")[0].value;
					var confirm_password = $("input[name=confirm_password]")[0].value;
					
					
					if(!mobile){
						alert('请输入手机号码！');return false;
					}
					
					var reg=/^\d{11}$/;
					if(reg.test(mobile) == false){
						alert('手机号格式不正确');
						return false;
					}
					if(!sms_code){
						alert('请输入手机验证码');return false;
					}
					

					if(!password){
						alert('请输入新密码！');return false;
					}
					
					if(!confirm_password){
						alert('请输入确认新密码！');return false;
					}
					if(password != confirm_password){
						alert('输入的两次密码不一致');return false;
					}
					
					console.log(mobile);	
					console.log(sms_code);
					console.log(password);
					console.log(confirm_password);
					//return false;				
					$.ajax('/resetpw.html',{
						data:{mobile:mobile,sms_code:sms_code,password:password},
						dataType:'json',//服务器返回json格式数据
						type:'post',//HTTP请求类型
						async:false,
						timeout:50000,//超时时间设置为50秒；
						/*headers:{'Content-Type':'application/json'},*/	              
						success:function(data){
							//服务器返回响应，根据响应结果，分析是否登录成功；							
							if(data.s=='ok'){
								$.toast('密码设置成功');
									setTimeout(function(){
									//页面刷新  
										window.location.href = "/login.html";
									},1500);
							}else{
								$.toast(data.s);
							}
							//console.log(data);
							//锁定样式 【获取验证码】按钮禁止操作
								
							event.stopPropagation();
						}
					});
					event.stopPropagation();
				
				});
			})(mui);
			//语音识别完成事件
			document.getElementById("search").addEventListener('recognized', function(e) {
				console.log(e.detail.value);
			});
		</script>
	</body>

</html>