{include file="../../../application/admin/view/public/head" /}

<div class="page-container">

    <div class="showpic" style="display:none;"><img class="showpic_img" width="120" height="160"></div>

    <form class="layui-form layui-form-pane" action="">
        <div class="layui-tab">
            
            <div class="layui-tab-content">

                <div class="layui-tab-item layui-show">

                <div class="layui-form-item">
                        <label class="layui-form-label">首页公告：</label>
                        <div class="layui-input-block">
                            <textarea name="home_gg" class="layui-textarea">{$config['home_gg']}</textarea>
                        </div>
                    </div>
                  <div class="layui-form-item">
                        <label class="layui-form-label">大厅公告：</label>
                        <div class="layui-input-block">
                            <textarea name="hall_gg" class="layui-textarea" >{$config['hall_gg']}</textarea>
                        </div>
                    </div>
                  <div class="layui-form-item">
                        <label class="layui-form-label">代理专区公告：</label>
                        <div class="layui-input-block">
                            <textarea name="agentzq_gg" class="layui-textarea" >{$config['agentzq_gg']}</textarea>
                        </div>
                    </div>
                  <div class="layui-form-item">
                        <label class="layui-form-label">代理公告：</label>
                        <div class="layui-input-block">
                            <textarea name="agent_gg" class="layui-textarea">{$config['agent_gg']}</textarea>
                        </div>
                    </div>
                  
            </div>


                <div class="layui-form-item center">
                    <div class="layui-input-block">
                        <button type="submit" class="layui-btn" lay-submit="" lay-filter="formSubmit">保 存</button>
                        <button class="layui-btn layui-btn-warm" type="reset">还 原</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{include file="../../../application/admin/view/public/foot" /}
<script type="text/javascript">
    layui.use(['form', 'layer'], function(){
        // 操作对象
        var form = layui.form
                , layer = layui.layer;


    });



</script>

</body>
</html>