body{
    background-color: #fff;
}
.shaixuan{
    left: 0;
    right: 0;
    overflow-x: scroll;
    z-index: 1;
    position: fixed;
    background:linear-gradient(to right,#f370af 0,#5515ee 100%);
}
#list{
    position: relative;
    top: 150px;
}
.search_div{
    text-align: center;
    width: 80%;
    margin: 2px auto;
    background-color: rgba(255,255,255,0.4);
    border-radius: 20px;
    padding: 0px 10px;
    color: #fff;
    height: 30px;
}
.slide-box{
    display: -webkit-box;
    overflow-x: scroll;
    -webkit-overflow-scrolling:touch;
    margin: 6px 8px;
    color: #99a2bc;
    text-align: center;
}
.active{
    background-color: #323237;
    color: #fff;
}
.slide-item{
    width: 72px;
    height: 30px;
    border-radius: 20px;
    /* border:1px solid #ccc; */
    margin-right: 12px;
}
nav{
    background:linear-gradient(to right,#f370af 0,#5515ee 100%);
}
.hot_div{
color: #e1e1e3;
}
.hot_div .hot_title img{
width: 20px;
}
.hot_div .hot_title{
padding: 0px 4px;
height: 34px;
font-size: 14px;
}
.hot_div .hot_title span{
color: #616982;
font-size: 12px;
float: right;
}
.hot_div ul{
margin-bottom: 0px;
}
.hot_div ul li{
margin: auto 1%;
float: left;
height: 220px;
width: 31%;
}
.hot_div ul li .bg_img{
height: 160px;
border-radius: 8px;
box-shadow: 0.04rem 0.4rem 0.4rem rgba(99, 99, 99, 0.29);
}
.hot_div ul li .vod_score{
font-size: 13px;
color: #fff;
background: linear-gradient(to right,#f370af 0,#5515ee 100%);
position: absolute;
border-radius: 2px;
margin-left: 4px;
}
.hot_div ul li .vod_remarks{
font-size: 13px;
color: #fff;
position: absolute;
margin-top: -20px;
margin-left: 4px;
}
.vod_title{
font-size: 13px;
color: #99a2bc;
text-align: center;
}


.active {
opacity: 0.7;
}