<div class="footer-server clearfix">
    <div class="server w1200">
        <dl>
            <dt><a href="http://www.csdeshang.com" target="_blank">关于我们</a></dt>
            <dd><a href="http://www.csdeshang.com" target="_blank">公司简介</a></dd>
            <dd><a href="{:url('product/detail',['product_id'=>8])}" target="_blank">联系我们</a></dd>
            <dd><a href="{:url('job/index')}" target="_blank">招聘英才</a></dd>
            <dd><a href="{:url('Message/index')}" target="_blank">在线留言</a></dd>
        </dl>
        <dl>
            <dt><a href="http://www.csdeshang.com" target="_blank">帮助中心</a></dt>
            <dd><a href="http://www.csdeshang.com" target="_blank">公司简介</a></dd>
            <dd><a href="http://www.csdeshang.com" target="_blank">在线留言</a></dd>
            <dd><a href="http://www.csdeshang.com" target="_blank">在线留言</a></dd>
            <dd><a href="http://www.csdeshang.com" target="_blank">在线留言</a></dd>
        </dl>
        <dl>
            <dt><a href="http://www.csdeshang.com" target="_blank">企业公告</a></dt>
            <dd><a href="http://www.csdeshang.com" target="_blank">公司简介</a></dd>
            <dd><a href="http://www.csdeshang.com" target="_blank">在线留言</a></dd>
            <dd><a href="http://www.csdeshang.com" target="_blank">在线留言</a></dd>
            <dd><a href="http://www.csdeshang.com" target="_blank">在线留言</a></dd>
        </dl>
        <dl>
            <dt><a href="http://www.csdeshang.com" target="_blank">售后服务</a></dt>
            <dd><a href="http://www.csdeshang.com" target="_blank">公司简介</a></dd>
            <dd><a href="http://www.csdeshang.com" target="_blank">在线留言</a></dd>
            <dd><a href="http://www.csdeshang.com" target="_blank">在线留言</a></dd>
            <dd><a href="http://www.csdeshang.com" target="_blank">在线留言</a></dd>
        </dl>
        <dl>
            <dt>关注公众号</dt>
            <dd><img class="lazy" data-original="{$Think.UPLOAD_SITE_URL}/{$Think.ATTACH_COMMON}/{$Think.config.site_logowx}" width="120" style="display: inline-block;"></dd>
        </dl>
    </div>
    <div class="link w1200">
        <dl>
            <dt>友情链接:</dt>
            <dd>
                {volist name="link_list" id="link"}
                <a target="_blank" href="{$link.link_weburl}">{$link.link_webname}</a>|
                {/volist}
            </dd>
        </dl>
    </div>
</div>
<div class="footer clearfix">
    <div class="w1200">
        版权所有 <a href="http://www.csdeshang.com" target="_blank">{$Think.config.flow_static_code}</a><br/>
        Powered by DSCMS 1.1.0 ©2008-2018  DSCMS Inc.
    </div>
</div>

<div class="common_right_fix">
    <ul>
        <li>
            <a href="javascript:;">在<br>线<br>客<br>服</a>
            <span>
                <h3>请咨询客服</h3>
                <a href="tencent://message/?uin=858761000&amp;Site=www.csdeshang.com&amp;Menu=yes">
                    <img border="0" src="http://pub.idqqimg.com/wpa/images/counseling_style_51.png" alt="点击这里给我发消息" title="点击这里给我发消息">&nbsp;&nbsp;德尚-售前
                </a>
                <a href="tencent://message/?uin=2931945788&amp;Site=www.csdeshang.com&amp;Menu=yes">
                    <img border="0" src="http://pub.idqqimg.com/wpa/images/counseling_style_51.png" alt="点击这里给我发消息" title="点击这里给我发消息">&nbsp;&nbsp;德尚-售前
                </a>
                <a href="tencent://message/?uin=181814630&amp;Site=www.csdeshang.com&amp;Menu=yes">
                    <img border="0" src="http://pub.idqqimg.com/wpa/images/counseling_style_51.png" alt="点击这里给我发消息" title="点击这里给我发消息">&nbsp;&nbsp;德尚-售后
                </a>
                <a href="tencent://message/?uin=2609394144&amp;Site=www.csdeshang.com&amp;Menu=yes">
                    <img border="0" src="http://pub.idqqimg.com/wpa/images/counseling_style_51.png" alt="点击这里给我发消息" title="点击这里给我发消息">&nbsp;&nbsp;德尚-售后
                </a>
            </span>
        </li>
        <li><a href="javascript:;"><br>咨<br>询<br>热<br>线</a><span><h3>咨询电话</h3><a>15364080101</a><a>13975846784</a></span></li>
    </ul>
</div>


<script src="{$Think.PLUGINS_SITE_ROOT}/jquery.lazyload.min.js"></script>
<script>
    //懒加载
    $("img.lazy").lazyload({
        effect: "fadeIn"
    });
</script>
</body>
</html>