	   <div id="contentLeft"> 
			<!-- nav --> 
			<div class="con1-left"> 
				 <p class="left-title1">关于我们</p> 
				 <div class="con1_class"> 
				  <ul id="left-type"> 
				   <li class="{$about}"><a href="/about.html">公司简介</a></li> 
				   <li class="{$recruit}"><a href="/recruit.html">人才招聘</a></li> 
				   <li class="{$contact}"><a href="/contact.html">联系我们</a></li> 
				   <li class="{$feedback}"><a href="/feedback.html">在线留言</a></li> 
				  </ul> 
				 </div> 
			</div> 
			<!-- nav end--> 
			<!-- 联系我们 --> 
			<div class="sub_content"> 
			 <div class="sub_common_title"> 
			  <h2> <p>联系我们</p> <font>CONTACT US___</font></h2> 
			 </div> 
			 <div class="sub_content_list"> 
			  <p class="ltel">电话：{$config.WEB_TEL} </p> 
			  <p class="lemail">邮箱：{$config.WEB_EMAIL} </p> 
			  <p class="ladd"> 地址：{$config.WEB_ADDRESS} </p> 
			 </div> 
			</div> 
			<!-- 联系我们 end--> 
	   </div> 