body{
    background-color: #fff;
}
header {
    width: 100%;
    height: 130px;
    box-sizing: border-box;
    padding: 4px 12px;
    margin-bottom: -10px;
    background:linear-gradient(to right,#f370af 0,#5515ee 100%);
}

header .aui-slide-wrap {
    width: 100%;
    height: 160px;
    border-radius: 10px;
    box-shadow: 0.04rem 0.4rem 0.4rem rgba(99, 99, 99, 0.29);
}

section {
    position: relative;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 0 4px;
}
.hot_div{
    color: #212529;
}
.hot_div .hot_title img{
   width: 20px;
}
.hot_div .hot_title{
    padding: 0px 4px;
    font-size: 14px;
    margin: 6px 0px;
}
.hot_div .hot_title span{
    color: #616982;
    font-size: 12px;
    float: right;
}
.hot_div ul{
    margin-bottom: 0px;
}
.hot_div ul li{
    margin: 6px 1%;
    float: left;
    height: 122px;
    width: 48%;
    padding: 1px;
    border-radius: 10px;
    /* box-shadow: 0.01rem 0.1rem 0.2rem rgba(99, 99, 99, 0.29); */
}
.hot_div ul li .bg_img{
    height: 97px;
    border-radius: 8px;
    box-shadow: 0.04rem 0.4rem 0.4rem rgba(99, 99, 99, 0.29);
}
.hot_div ul li .vod_score{
    font-size: 13px;
    color: #fff;
    background: linear-gradient(to right,#f370af 0,#5515ee 100%);
    position: absolute;
    border-radius: 2px;
    margin-left: 4px;
}
.hot_div ul li .vod_remarks{
    font-size: 13px;
    color: #fff;
    position: absolute;
    margin-top: -20px;
    margin-left: 4px;
}
.vod_title{
    font-size: 13px;
    color: #99a2bc;
    text-align: center;
    
}
.vod_actar{
    color: #616982;
    font-size: 12px;
    text-align: center;
}
.gongao{
    color: #99a2bc;
    background: #eee;
    border-radius: 20px;
    padding: 0px 8px;
}
.gongao marquee{
    width: 90%;
    margin-left: 3%;
    line-height: 1;
    margin-top: 6px;
}
.active {
    opacity: 0.7;
}
#gonggao{
    padding: 0px 12px;
    margin-top: 60px;
}