<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <script src="/tmc/js/mui.min.js"></script>
    <link href="/tmc/css/mui.min.css" rel="stylesheet"/>
    <script type="text/javascript" charset="utf-8">
      	mui.init();
    </script>
	<style>
		.header{
			background: #fff;
		}
		.mui-bar{
			height:54px;
		}
		.h1{
			top: 5px;
			font-family: '微软雅黑';
		}
		.mui-grid-view.mui-grid-9 .mui-table-view-cell{
			border-right:#ddd;
		}
	</style>
</head>
<body style="background: #fff;">
	<header class="mui-bar mui-bar-nav header">
			<!--<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>-->
			<h1 class="mui-title h1">首页</h1>
	</header>
		<br><br><br>
		<img src="/tmc/img/tmc.png" style="width: 94%; margin-left: 3%;" />
		<div class="mui-content" style="background: #fff;margin-top:-40px;">
		        <ul class="mui-table-view mui-grid-view mui-grid-9" style="background: #fff;">
		            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" style="width: 33%;"><a href="mairu.html">
		                    <span class="mui-icon"><img src="/tmc/img/goumai.png" style="width: 50px;"/></span>
		                    <div class="mui-media-body"style="font-family: '微软雅黑';">购买乐豆</div></a></li>
		            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"style="width: 33%;"><a href="maichu.html">
		                    <span class="mui-icon"><span><img src="/tmc/img/chushou.png" style="width: 50px;"/></span>
		                    <div class="mui-media-body"style="font-family: '微软雅黑';">出售乐豆</div></a></li>
		            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"style="width: 34%;"><a href="myfishb.html">
		                    <span class="mui-icon"><img src="/tmc/img/dingdan.png" style="width: 50px;"/></span>
		                    <div class="mui-media-body"style="font-family: '微软雅黑';">乐豆种子</div></a></li>
		            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"style="width: 33%;"><a href="orderlist.html">
		                    <span class="mui-icon"><img src="/tmc/img/jiedian.png" style="width: 50px;"/></span>
		                    <div class="mui-media-body"style="font-family: '微软雅黑';">乐豆订单</div></a></li>
		            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"style="width: 33%;"><a href="myfishb.html">
		                    <span class="mui-icon"><img src="/tmc/img/zhuanrang.png" style="width: 50px;"/></span>
		                    <div class="mui-media-body"style="font-family: '微软雅黑';">转让TMC</div></a></li>
		            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"style="width: 34%;"><a href="#tabbar-with-receive">
		                    <span class="mui-icon"><img src="/tmc/img/dating.png" style="width: 50px;"/></span>
		                    <div class="mui-media-body"style="font-family: '微软雅黑';">抢购大厅</div></a></li>
		            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"style="width: 33%;"><a href="zizhubuy.html">
		                    <span class="mui-icon"><img src="/tmc/img/zizhu.png" style="width: 50px;"/></span>
		                    <div class="mui-media-body"style="font-family: '微软雅黑';">自助购买</div></a></li>
		            <!--<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#">
		                    <span class="mui-icon"><img src="/tmc/img/shangcheng.png" style="width: 50px;"/></span>
		                    <div class="mui-media-body">在线商城</div></a></li>-->
		           <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"style="width: 33%;"><a href="jihuomachage.html">
		                    <span class="mui-icon"><img src="/tmc/img/jihuoma.png" style="width: 50px;"/></span>
		                    <div class="mui-media-body" style="font-family: '微软雅黑';">激活码</div></a>
					</li>
					
					<!--<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#">
					        <span class="mui-icon"><img src="/tmc/img/zhanghu.png" style="width: 50px;"/></span>
					        <div class="mui-media-body">账户管理</div></a></li>
					<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#">
							<span class="mui-icon"><img src="/tmc/img/anquan.png" style="width: 50px;"/></span>
							<div class="mui-media-body">安全管理</div></a>
					</li>
					<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#">
							<span class="mui-icon"><img src="/tmc/img/kefu.png" style="width: 50px;"/></span>
							<div class="mui-media-body">在线客服</div></a>
					</li>-->
		        </ul> 
		</div>
		
		<nav class="mui-bar mui-bar-tab" style="background: #fff;">
			<a class="mui-tab-item" href="#tabbar">
				<span class="mui-icon"><img src="/tmc/img/shouye.png" style="width:30px;"/></span>
				<span class="mui-tab-label"style=" margin-left: 8px;">首页</span>
			</a>
			<a class="mui-tab-item" href="faxian.html">
				<span class="mui-icon"><img src="/tmc/img/sousuo.png" style="width:30px;"/></span>
				<span class="mui-tab-label"style="margin-left: 8px;">发现</span>
			</a>
			
			<a class="mui-tab-item" href="#tabbar">
				<span class="mui-icon"><img src="/tmc/img/qianbao.png" style="width:30px;"/></span>
				<span class="mui-tab-label"style="margin-left: 8px;">社区</span>
			</a>
			<a class="mui-tab-item" href="my.html">
				<span class="mui-icon"><img src="/tmc/img/wode.png" style="width:30px;"/></span>
				<span class="mui-tab-label"style="margin-left: 8px;">我的</span>
			</a>
		</nav>
		<script>
			mui('body').on('tap','a',function(){document.location.href=this.href;});
		</script>
</body>
</html>