

{extend name="index:base" /}
{block name="title"}<title>后台管理系统</title>{/block}
{block name="style"}
<style>
.paging{
   margin-top:30px;
}
.home{
	color:#fff;border: 1px #b6b6b6 solid;background: #b6b6b6; padding: 15px;height: 38px;line-height: 38px;
}
.all{
	color:#fff;border: 1px #999 solid;background: #999; padding: 15px;height: 38px;line-height: 38px;
}
</style>
{/block}
{block name="body"}

<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">会员收益记录</h2>
      </div>
      <section class="mtb">
	   <form action="" method="get" >
		&nbsp;&nbsp;钻箱类型	
	   <select class="select" name="type">
			<option value="0">&nbsp;&nbsp;&nbsp;选择&nbsp;&nbsp;&nbsp;</option>
			<option value="1" {if condition="$type eq '1'"}selected{/if}>&nbsp;&nbsp;&nbsp;微型钻箱&nbsp;&nbsp;&nbsp;</option>
			<option value="2" {if condition="$type eq '2'"}selected{/if}>&nbsp;&nbsp;&nbsp;小型钻箱&nbsp;&nbsp;&nbsp;</option>
			<option value="3" {if condition="$type eq '3'"}selected{/if}>&nbsp;&nbsp;&nbsp;中型钻箱&nbsp;&nbsp;&nbsp;</option>
			<option value="4" {if condition="$type eq '4'"}selected{/if}>&nbsp;&nbsp;&nbsp;大型钻箱&nbsp;&nbsp;&nbsp;</option>

       </select>
		&nbsp;&nbsp;币种	
	   <select class="select" name="tp">
			<option value="0">&nbsp;&nbsp;&nbsp;选择&nbsp;&nbsp;&nbsp;</option>
			<option value="1" {if condition="$tp eq '1'"}selected{/if}>&nbsp;&nbsp;&nbsp;乐豆&nbsp;&nbsp;&nbsp;</option>
			<option value="2" {if condition="$tp eq '2'"}selected{/if}>&nbsp;&nbsp;&nbsp;乐豆&nbsp;&nbsp;&nbsp;</option>

       </select>
	    <input type="text" class="textbox textbox_225" placeholder="输入订单编号..." name="keyword" value="{$keyword}" />
		<input type="text" class="textbox textbox_225" placeholder="会员账号..." name="uphone" value="{$uphone}" />
       <input type="submit" value="查询" class="group_btn"/>
		<a href="{:url('ore/profit')}" class="all"/>全部</a>  
	   </form>
      </section>
      <table class="table">
       <tr>
        <th style="width:80px;">ID</th>		
		<th>订单编号</th>
		<th>会员</th>
		<th>产品类型</th>
		<th>类型</th>
		<th>收益</th>
        <th>操作</th>
       </tr>
       </tr>
	   {foreach name="volist.data" id="vo"}
       <tr class="id_{$vo.id}">
        <td class="center"><input type="checkbox" value="{$vo.id}" name="id" />{$vo.id}</td>
		<td class="center">{$vo.orderid}</td>
		<td class="center">{$vo.user}</td>
        <td class="center">
			{$vo.name}
		</td>
		<td class="center">
			{if condition="$vo.type eq 1"}
				<span style="color:red">乐豆</span>
			{/if}
			
			{if condition="$vo.type eq 2"}
				<span style="color:green">乐豆</span>
			{/if}			
			
		</td>
        <td class="center">
			
			<font style="font-weight:600;">{$vo.money}</font>
		</td>

		<td class="center">
         <a href="#" title="删除" class="link_icon del" data-id="{$vo.id}">&#100;</a>
        </td>
       </tr>
		{/foreach}
      </table>
	  <div>
		<aside class="paging_left">
		   <a id="all">全选</a>
		   <a id="nocheck">取消</a>
		   <a id="reverse">反选</a>
		   <a id="delid">删除</a>
		</aside>
	  {$list->render()}
	 </div>
 </div>
</section>


{/block}
{block name="script"}
<script>
$(document).ready(function() {
	//全选
	$("#all").on('click', function() {
		//全选选中为true，否则为false
		$("input[type=checkbox]").each(function(){ 
		//循环checkbox选择或取消
			$(this).prop("checked",true);
		});
	});
	//取消
	$("#nocheck").on('click', function() {
		$("input[type=checkbox]").each(function(){ 
			$(this).prop("checked",false);
		});
	});
	//反选
	$("#reverse").click(function () { 
		$("table :checkbox").each(function () {  
			$(this).prop("checked", !$(this).prop("checked"));  
		});
	});
	//删除
	$('.del').click(function(event){
		var id = $(this).attr('data-id');
		if (confirm("确定要删除吗？")) {
			$.ajax({
				url:"{:url('ore/profit_del')}",
				dataType:"json",
				type:'POST',
				cache:false,
				data:{op:'ore/profitdel',id:id},
				success: function(data) {
					console.log(data.s);
					if (data.s=='ok') {				
						myAlert('删除成功');
						setTimeout(function(){
							//页面刷新  
							window.location.reload();
						},1000);
					}else {
						myAlert(data.s);
					}
				}
			});		
		}
	}); 
    //批量删除
	$('#delid').click(function(event){
		var id=new Array();  
		$('input[name="id"]:checked').each(function(){  
			id.push($(this).val());//向数组中添加元素  
		});  
		var id_str = id.join(',');//将数组元素连接起来以构建一个字符串 
		if (confirm("确定要删除吗？")) {
			$.ajax({
				url:"{:url('ore/profit_delmost')}",
				dataType:"json",
				type:'POST',
				cache:false,
				data:{op:'profit/DelAll_nucm',delid:id_str,pid:0},
				success: function(data) {
					console.log(data.s);
					if (data.s=='ok') {				
						myAlert('删除成功');
						setTimeout(function(){
						//页面刷新  
						window.location.reload();
						},1000);
					}else {
						myAlert(data.s);
					}
				}
			});
		}
	});  
	
	
});
</script>
{/block}	