.mui-bar-nav~.mui-content {
	padding-top: 70px;
	padding-bottom: 60px;
}
.mui-bar {
	box-sizing: content-box;
	height: 50px;
	line-height: 50px;
	padding-top: 20px;
	overflow: inherit;
	background: #fff;
	border-bottom: 1px solid #eee;
}
.mui-action-back {
	color: #444;
}

.weui-panel {
	background: #fff;
	margin-top: .2rem;
}

.weui-flex {
	line-height: 1.2rem;
	padding: 0 .2rem;
	background: #fff;
	font-size: .32rem;
	color: #444;
	border-bottom: 1px solid #eee;
}

.weui-flex__item,
div.weui-cell__hd,
.weui-cell__bd {
	display: inline-block;
}

.weui-cell__bd>input {
	border: 0;
	height: 1.2rem;
	margin-bottom: 0;
}

.weui-cell__hd {
	padding-left: .2rem;
	width: 98px;
}

.weui-flex>.weui-flex__item:last-child {
	float: right;
	color: #888;
}

.weui-cell {
	line-height: 1.2rem;
	border-bottom: 1px solid #eee;
	background: #fff;
}

.weui-cells.weui-cells_form {
	margin-top: .2rem;
}

.weui-uploader__hd>p {
	width: 100%;
	margin: 0;
	padding-left: .2rem;
	color: #444;
	font-size: .32rem;
}

.trade_amount {
	font-size: 14px;
	border: 1px dashed #ccc;
	padding: 7px 10px;
	margin-top: 10px;
	min-height: 45px;
	width: 100%;
}

.trade_amount span.label {
	float: left;
	margin-left: 0;
	color: #777;
}

.trade_amount span {
	float: right;
	margin-left: 5px;
}

.font_buy {
	color: #ee3523;
	font-weight: 500;
}

.font_sell {
	color: #090;
	font-weight: 500;
}

#tmp_depth li {
	display: block;
	vertical-align: top;
	height: 35px;
	line-height: 30px;
	overflow: hidden
}

#tmp_depth li span {
	display: inline-block;
	float: left
}

#tmp_depth li .tx_1 {
	text-indent: 15px;
	width: 32%
}

#tmp_depth li .tx_2 {
	font-size: 13px;
	width: 32%
}

#tmp_depth li .tx_3 {
	font-size: 13px;
	min-width: 28%;
	text-align: right
}

#tmp_depth li.mid {
	padding: 0 20px;
	display: block;
	height: 10px
}

hr {
	border: none;
	border-bottom-width: medium;
	border-bottom-style: none;
	border-bottom-color: currentcolor;
	border-bottom: 1px solid #e6e6e6;
	margin: 0;
}

#showImgZ {
	display: none;
}

#showImgF {
	display: none;
}

#showImgShou {
	display: none;
}

.weui-input {
	padding: 0px 0px;
}

.weui-label {
	width: 55px;
}

input[type=button].comfirm_update {
	background: #5E7DC7;
	color: #fff;
	border-radius: .08rem;
	padding-top: .25rem;
	padding-bottom: .25rem;
	font-size: .36rem;
}

.weui-uploader__input-box {
	display: inline-block;
	position: relative;
	width: 100%;
	margin-left: 0;
	height: 2.4rem;
	border: 1px dashed #ccc;
	text-align: center;
	background-size: 35%;
}
.z {
	background: url(../../images/z.png) no-repeat center;
	background-size: auto 100%;
}

.f {
	background: url(../../images/f.png) no-repeat center;
	background-size: auto 100%;
}

.s {
	background: url(../../images/s.png) no-repeat center;
	background-size: auto 100%;
}

.weui-uploader__input-box>img {
	/*width: 100%;*/
	height: 100%;
}

.weui-uploader__input {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	/*width: 100%;*/
	height: 100%;
	opacity: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}