html,body {
	height: 100%;
	background:url(../../img/loginBl2.png) no-repeat left bottom;
	background-size: 100%;
	overflow: hidden;
}	

.avatar {
	overflow-y: inherit;
}

.avatar-box>img {
	width: 2.2rem;
	margin-right: -.5rem;
	margin-top: .4rem;
}

.mui-content {
	height: 100%;
	text-align: center;
	background: none;
}

.login-form.mui-input-group {
	margin: .2rem .3rem;
	padding: 0 .25rem;
	border-radius: 6px;
}


.mui-input-group .mui-input-row {
	position: relative;
	height: 1rem;
}

.input-eye {
	position: absolute;
	width: .34rem;
	right: .2rem;
	top: 36%;
}

.input-yanzhengma {
	position: absolute;
	height: 0.8rem;
	right: .1rem;
	top: 10%;
	background-color: rgb(0, 122, 255);
	font-weight: bold;
	color: #FFFFFF;
	font-size: 14px;
	border: 0;
}

.pin-code {
	position: absolute;
	width: 80px;
	height: 2.4rem;
	
	right: 0;
	top: .1rem;
	
}

.tc {
	display: inline-block;
	padding: .1rem .3rem;
	background: rgba(191,191,191,.5);
	color: #555555;
	border-radius: 20px;
	font-size: .28rem;
}

.area {
	margin: 20px auto 0px auto;
}

.mui-input-group {
	margin-top: 10px;
	background: rgba(255,255,255,.9);
}

.mui-input-group:before,
.mui-input-group:after {
	background: none;
}

.mui-input-group:first-child {
	margin-top: 20px;
}

.mui-input-group label {
	width: 20%;
	font-size: .32rem;
	color: #5E7DC7;
}

.mui-input-row label {
	padding: 17px 15px 17px 0
}

.mui-input-row label~input,
.mui-input-row label~select,
.mui-input-row label~textarea {
	width: 80%;
	height: 1rem;
	font-size: .32rem;
	color: #007AFF;
}

.mui-checkbox input[type=checkbox],
.mui-radio input[type=radio] {
	top: 6px;
}

.mui-content-padded {
	margin-top: 1.2rem;
}

.mui-btn {
	padding: 10px;
}

.link-area {
	display: block;
	margin-top: 25px;
	text-align: center;
	
}

.spliter {
	color: #bbb;
	padding: 0px 8px;
}

.app-btn-login {
	width: 85%;
	margin: auto;
	background: #3C7FFF;
	box-shadow: 0 3px 10px 0 rgba(60,127,255,0.50);
	border-radius: 6px;
}

.mui-input-group .mui-input-row:after {
	background: #DDDDDD;
}

.link-area a {
	color: #92B7FF;
	font-size: .30rem;
}

.protocal-inner {
	padding: .3rem;
	background: #fff;
}

.protocal-inner p {
	text-align: left;
	background: #fff;
	text-indent: 28px;
}

.mui-input-group .mui-input-row:after {
	left: 0;
}
