* {
	font-family: 'PinfangSC Regular',helvetica,"微软雅黑";
}
.mui-bar-nav~.mui-content {padding-top: 75px;}

.mui-bar-nav {
	padding-top: 20px;
	box-sizing: content-box;
	background-color: #fff;
	border-bottom: 1px solid #eee;
}

.withdraw-info {
	margin-top: .2rem;
	background: #fff;
}

.mui-icon-extra-sweep {
	position: absolute;
	right: .2rem;
	top: .36rem;
}

.mui-input-row {
	padding: .2rem .2rem;
	background: #fff;
	border-bottom: 1px solid #eee;
}

.app-btn-success {
	background: #55C77B;
	border-color: #55C77B;
	color: #fff;
	border-radius: .08rem;
}

.app-btn-primary {
	background: #5E7DC7;
	border-color: #5E7DC7;
	color: #fff;
	border-radius: .08rem;
}

.mui-table-view-cell>a:not(.mui-btn) {
	padding: .35rem .2rem;
}

.mui-input-row label {
	padding-left: 0;
	font-size: .32rem;
	color: #333;
	font-weight: bold;
}
.mui-table-view:before {
	background: #fff;
}
.mui-table-view:after {
	background: #ccc;
}
.mui-input-row label {
	width: 25%;
}

.mui-input-row label~input {
	width: 73%;
}

#zhuanzhangdizhi {
	font-size: .24rem;
}

.mui-input-row label.light-color,
.balance-unit {
	color: #aaa;
	font-weight: inherit;
}

.balance-num {
	color: #3C7FFF;
}
			.app-btn-success {
				background: #23BB58;
				border-color: #23BB58;
				color: #fff;
				border-radius: .08rem;
			}
			
			.app-btn-primary {
				background: #3C7FFF;
				border-color: #3C7FFF;
				color: #fff;
				border-radius: .08rem;
			}
			#mengban {
				display: none;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				z-index: 999;
				background-color: rgba(0,0,0,.7);
			}
			#mbCont {
				width: 80%;
				text-align: center;
				height: 200px;
				background-color: #fff;
				position: absolute;
				top: 0;right: 0;bottom: 0;left: 0;margin: auto;
				border: 2px solid #ADFF2F;
				border-radius: 15px;
			}
			#mbCont p {
				font-size: 2em;
				line-height: 2em;
			}
			#mbCont input {
				height: 40px;
				border-radius: 3rem;
				padding:0 0.3rem;
				width: 80%;
				border: 2px solid orange;
				margin-bottom: 1.2em;			
			}
			#mbCont button {
				width: 30%;
				font-size: 1.1em;
			}
			.zhuanShow {
				height: 1rem;
				background-color: #f9fafc;
				margin-bottom: 0.5rem;
				padding-left: 0.3rem;
			}
			#zhuanShow span {
				line-height: 1rem;
				font-size: 0.32rem;
				color: #b0b0b0;
			}
			#zhuanShow #kezhuanNum {
				color: #3C7FFF;
			}
			.footTbn {
				width: 50%;
				height: .8rem;
				color: #fff;
				letter-spacing: 0.1rem;
				font-size: 0.3rem;
				border-radius: 0;
				border: 0;padding: 0;margin: 0;
			}
			#footTbn {
				position: absolute;
				width: 100%;
				bottom: 0px;
			}