#dedecms手机目录结构apache伪静态
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ rewrite.php?s=$1&mobile=1 [L]
RewriteRule ^$ rewrite.php?s=$1&mobile=1 [L]