<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>
<rewrite>
<rules>

<!-- 推广赚钱 -->
<rule name="1" stopProcessing="true">
<match url="^u_([0-9]+)$" ignoreCase="false" />
<action type="Rewrite" url="/member/tui.php?tjrmid={R:1}" appendQueryString="false" />
</rule>
<!-- 推广赚钱 End -->

<rule name="已导入的规则 1" stopProcessing="true">
	<conditions>
	<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
	<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
	</conditions>
	<match url="^(.*)$" ignoreCase="false" />
	<action type="Rewrite" url="rewrite.php?s={R:1}" appendQueryString="false" />
</rule>
<rule name="已导入的规则 2" stopProcessing="true">
	<conditions>
	<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
	<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
	</conditions>
	<match url="^$" ignoreCase="false" />
	<action type="Rewrite" url="rewrite.php?s={R:1}" appendQueryString="false" />
</rule>

</rules>
</rewrite>

</system.webServer>
</configuration>