{extend name="layout:home" /}
{block name="container"}
<div class="layui-tab layui-tab-card">
    {include file="layout/admin_items" /}
    <div class="layui-tab-content page-tab-content">
        <table class="layui-table lay-even">
            <colgroup>
                <col width="150">
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th>{$Think.lang.nav_order}</th>
                    <th>{$Think.lang.nav_title}</th>
                    <th>{$Think.lang.nav_url}</th>
                    <th>{$Think.lang.nav_location}</th>
                    <th>{$Think.lang.nav_display}</th>
                    <th>{$Think.lang.nav_new_open}</th>
                    <th>{$Think.lang.ds_operation}</th>
                </tr>
            </thead>
            <tbody>
            {volist name="nav_list" id="nav"}
            <tr>
                <td><span title="{:lang('ds_editable')}" ajax_branch='nav' datatype="number" fieldid="{$nav.nav_id}" fieldname="nav_order" ds_type="inline_edit" class="editable">{$nav.nav_order}</span></td>
                <td>{$nav.nav_title}</td>
                <td>{$nav.nav_url}</td>
                <td>{$nav.nav_location}</td>
                <td>{$nav.nav_display==1?$Think.lang.ds_pc:$Think.lang.ds_web}</td>
                <td>{$nav.nav_new_open}</td>
                <td>
                    <a href="{:url('Navigation/edit',['nav_id'=>$nav.nav_id])}" class="layui-btn layui-btn-xs"><i class="layui-icon layui-icon-edit"></i>{$Think.lang.ds_edit}</a>
                    <a href="javascript:dsLayerConfirm('{:url('navigation/del',['nav_id'=>$nav.nav_id])}','{$Think.lang.ds_confirm_cancel}')" class="layui-btn layui-btn-danger layui-btn-xs"><i class="layui-icon layui-icon-delete"></i>{$Think.lang.ds_del}</a>
                </td>
            </tr>
            {/volist}
        </tbody>
        </table>
        {$show_page}
    </div>
</div>
<script type="text/javascript" src="{$Think.ADMIN_SITE_ROOT}/js/jquery.edit.js"></script>
{/block}