
{extend name="index:base" /}
{block name="title"}<title>后台管理系统</title>{/block}
{block name="style"}
    <script type="text/javascript" charset="utf-8" src="__STATIC__/umeditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__STATIC__/umeditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="__STATIC__/umeditor/lang/zh-cn/zh-cn.js"></script>
    <style type="text/css">
        div#content{
			text-align: right;
			margin-left:120px; 	
			width:80%;
        }
		.textbox_640{
			width:640px;
		}
		.ulColumn2{
			margin-bottom:50px;
		}
		#edui1_imagescale_cover{
			position:static !important;
		}
		#edui1_imagescale{
			display:none !important;
		}
    </style>
{/block}
{block name="body"}

<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">添加合作伙伴</h2>
      </div>
     <section>
      <ul class="ulColumn2">
	<!--   <form enctype="multipart/form-data" id="uploadForm"> -->

       <li>
        <span class="item_name" style="width:120px;">公司名称：</span>
        <input type="text" class="textbox textbox_295" name="name" value="" placeholder="公司名称..."/>
        <span class="errorTips">一般不超过80个字符</span>
       </li>
       <li>
        <span class="item_name" style="width:120px;">LOGO：</span>
        <label class="uploadImg">
         <input type="file"  name="logo" />
		 <img id="logo" src="" >		 
		 <input type="hidden" name="primary_logo" value="">
         <span>上传logo</span>
        </label>
       </li>
	   
       <li>
        <span class="item_name" style="width:120px;">联系方式：</span>
        <input type="text" class="textbox textbox_295"  name="tel" value="" placeholder="手机..."/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">网址：</span>
        <input type="text" class="textbox textbox_295"  name="link" value="" placeholder="网址..."/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">QQ：</span>
        <input type="text" class="textbox textbox_295" name="qq" value=""  placeholder="QQ..."/>
       </li>
       <li hidden>
        <span class="item_name" style="width:120px;">Email：</span>
        <input type="text" class="textbox textbox_295" name="email" value=""  placeholder="Email..."/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">联系人：</span>
        <input type="text" class="textbox textbox_295" name="contacts" value=""  placeholder="联系人..."/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">公司地址：</span>
        <input type="text" class="textbox textbox_295"  name="address" value="" placeholder="公司地址..."/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">排序：</span>
        <input type="text" class="textbox textbox_295"  name="sort" value="255" placeholder="排序..."/>
       </li>
       <li>
        <span class="item_name texlong" style="width:120px;">简介：</span>
        <textarea placeholder="简介" class="textarea" name="description" style="height:50px;width:640px;"></textarea>
       </li>
       <li>
        <span class="item_name" style="width:120px;"></span>
        <input type="submit" id="submit" class="link_btn" value="确定"/>
       </li>
	  <!--  </form> -->
      </ul>
     </section>
	 
 </div>
</section>


{/block}
{block name="script"}
<script>
//建立一個可存取到該file的url
function getObjectURL(file) {
	var url = null ;
	if (window.createObjectURL!=undefined) { // basic
		url = window.createObjectURL(file) ;
	} else if (window.URL!=undefined) { // mozilla(firefox)
		url = window.URL.createObjectURL(file) ;
	} else if (window.webkitURL!=undefined) { // webkit or chrome
		url = window.webkitURL.createObjectURL(file) ;
	}
	return url ;
}
</script>
<script>

$(document).ready(function() {
$(".uploadImg").on("change",function(){
	//获取图片的路径，该路径不是图片在本地的路径
	var objUrl = getObjectURL($('input[name="logo"]')[0].files[0]) ; 
	if (objUrl) {
		//将图片路径存入src中，显示出图片
		$("#logo").attr("src", objUrl) ; 
	}
});

	$('#submit').click(function(event){
		
		var name = $('input[name="name"]').val();
		var link = $('input[name="link"]').val();	
		var description = $('textarea[name="description"]').val();		
		var tel = $('input[name="tel"]').val();
		var qq = $('input[name="qq"]').val();
		var email = $('input[name="email"]').val();
		var sort = $('input[name="sort"]').val();
		var contacts = $('input[name="contacts"]').val();
		var address = $('input[name="address"]').val();
		var primary_logo = $('input[name="primary_logo"]').val();
		//上传图片

        var fileObj = $('input[name="logo"]')[0].files[0]; 			   
        var formData = new FormData(); 
		//加入对象
		if(name){
			formData.append('name',name);  
		}else{
			myAlert('公司名称不能为空');
		}
		if(link){
			formData.append('link',link);   
		}
		if(description){
			formData.append('description',description);  
		}
		if(tel){
			formData.append('tel',tel); 
		}
		if(qq){
			formData.append('qq',qq);  
		}
		if(email){
			formData.append('email',email); 
		}
		if(sort){
			formData.append('sort',sort); 
		}
		if(contacts){
			formData.append('contacts',contacts); 
		}
		if(address){
			formData.append('address',address); 
		}	
		if(fileObj){
			formData.append('logo',fileObj); 
		}

		formData.append('op','part/add');
			   
		console.log(formData.get("op"));
		
		$.ajax({
			url:"{:url('other/partner_add_do')}",
			dataType:"json",
			type:'POST',
			cache:false,
			processData: false,//用于对data参数进行序列化处理 这里必须false
            contentType: false, //必须
			data:formData,
			success: function(data) {
				console.log(data);
				if (data.s=='ok') {
					myAlert('新增成功');
					setTimeout(function(){
						//页面刷新  
						location.href= "{:url('other/partner')}";
					},1000);
					
				}else {
					myAlert(data.s);
				}
			}
		});
	});  
	
});
</script>
{/block}	