
{extend name="index:base" /}
{block name="title"}<title>后台管理系统</title>{/block}
{block name="style"}
    <script type="text/javascript" charset="utf-8" src="__STATIC__/umeditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__STATIC__/umeditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="__STATIC__/umeditor/lang/zh-cn/zh-cn.js"></script>
    <style type="text/css">
        div#content{
			text-align: right;
			margin-left:120px; 	
			width:80%;
        }
		.textbox_640{
			width:640px;
		}
		.ulColumn2{
			margin-bottom:50px;
		}
		.uploadImg,.texlong{
			position:static;
		}
		.page_title{
			height: 45px;
			line-height: 40px;
			width:86%;
			position:fixed;
			top:0;
			margin-top:70px;
			background-color:#fff;			
		}
		.page_title .top_rt_btn{
			margin-right:1rem;
			margin-top:5px;
		}
		.ulColumn2{
			margin-top:70px;
		}
		/*** guide ***/
		.guide{width:60px;margin-left:570px;position:fixed;left:56%;bottom:134px;_position:absolute;_top:expression(documentElement.scrollTop+documentElement.clientHeight - this.clientHeight - 134+'px');display:block;}
		.guide a{display:block;width:60px;height:50px;background:url(__IMG__/sprite_v2.png) no-repeat;margin-top:10px;text-decoration:none;font:16px/50px "Microsoft YaHei";text-align:center;color:#fff;border-radius:2px;}
		.guide a span{display:none;text-align:center;}
		.guide a:hover{text-decoration:none;background-color:#39F;color:#fff;}
		.guide a:hover span{display:block;width:60px;background:#39F}
		.guide .find{background-position:-84px -236px;}
		.guide .report{background-position:-146px -236px;}
		.guide .edit{background-position:-83px -185px;}
		.guide .top{background-position:-145px -185px;}
    </style>	
	
{/block}
{block name="body"}

<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
		<h2 class="fl">会员充值</h2>
      </div>

      <ul class="ulColumn2">

       <li>
        <span class="item_name" style="width:120px;">充值会员账号：</span>
        <input type="text" class="textbox textbox_225" value="" name="account" placeholder="充值会员账号..."/>
		<span style="color:red;">*必填</span>
       </li>
       <li>
        <span class="item_name" style="width:120px;">充值钱包类型：</span>
			<label class="single_selection"><input type="radio" name="type" value="1" checked />乐豆钱包</label>
			<label class="single_selection"><input type="radio" name="type" value="2" />乐豆钱包</label>
			<label class="single_selection"><input type="radio" name="type" value="3" />POW额度钱包</label>
		&nbsp;&nbsp;<span style="color:red;">*必填 请选择充值钱包</span>
       </li>		   
       <li>
        <span class="item_name" style="width:120px;">充值金额：</span>
        <input type="text" class="textbox" value="" name="money_on" placeholder="充值金额..."/>&nbsp;&nbsp;元&nbsp;&nbsp;<span style="color:#717171;">充值总额</span>
       </li>	   

       <li>
        <span class="item_name" style="width:120px;"></span>
        <input type="submit" id="submit" class="link_btn submit" value="确认充值"/>
		
       </li>
      </ul>
	  
		<div class="guide">
			<div class="guide-wrap">
				<a href="javascript:;" class="top" title="回顶部"><span>回顶部</span></a>
			</div>
		</div>
		
 </div>
</section>


{/block}
{block name="script"}
<script>
//建立一個可存取到該file的url
function getObjectURL(file) {
	var url = null ;
	if (window.createObjectURL!=undefined) { // basic
		url = window.createObjectURL(file) ;
	} else if (window.URL!=undefined) { // mozilla(firefox)
		url = window.URL.createObjectURL(file) ;
	} else if (window.webkitURL!=undefined) { // webkit or chrome
		url = window.webkitURL.createObjectURL(file) ;
	}
	return url ;
}
</script>

<script>

$(document).ready(function() {	
	
	$(".uploadImg").on("change",function(){
		//获取图片的路径，该路径不是图片在本地的路径
		var objUrl = getObjectURL($('input[name="pic"]')[0].files[0]) ; 
		console.log(objUrl);
		if (objUrl) {
			//将图片路径存入src中，显示出图片
			$("#pic").attr("src", objUrl) ; 
		}
	});

	$('.submit').click(function(event){
		var formData = new FormData(); 
		var account = $('input[name="account"]').val();//会员账号
		var money_on = $('input[name="money_on"]').val();//充值金额	
		var type = $('input[name="type"]:checked').val();//钱包类型	
		//return false;
		//加入对象
		
		formData.append('type',type); 
		if(account){
			formData.append('account',account);  
		}else{
			myAlert('充值会员账号不能为空');return false;
		}

		if(money_on){
			formData.append('money_on',money_on);   
		}else{
			myAlert('充值金额不能为空');return false;
		}
		
		formData.append('op','user/recharge_cmmu');
		
		$.ajax({
			url:"{:url('users/recharge_do')}",
			dataType:"json",
			type:'POST',
			cache:false,
			processData: false,//用于对data参数进行序列化处理 这里必须false
            contentType: false, //必须
			data:formData,
			success: function(data) {
				console.log(data);
				if (data.s=='ok') {
					myAlert('充值成功');
					setTimeout(function(){
					//页面刷新  
					//window.history.back(-1); 
					location.href= "{:url('users/recharge_log')}";
					},1000);				
				}else {
					myAlert(data.s);
				}
			}
		});
	});  
	
});

</script>

<script>
	$('.top').click(function(){
		//console.log(111);
		//动画效果，平滑滚动回到顶部
		$('#mCSB_2_container').css('top',0);
		$("#mCSB_2_dragger_vertical").css('top',0);
	})
</script>

{/block}	