{extend name="layout:home" /}
{block name="container"}
<div class="layui-tab layui-tab-card">
    {include file="layout/admin_items" /}
    <div class="layui-tab-content page-tab-content">
        <table class="layui-table lay-even">
            <colgroup>
                <col width="150">
                <col>
            </colgroup>
            <thead>
            <tr>
                <th>{$Think.lang.news_title}</th>
                <th>{$Think.lang.news_order}</th>
                <th>{$Think.lang.news_top_ok}</th>
                <th>{$Think.lang.news_com_ok}</th>
                <th>{$Think.lang.ds_operation}</th>
            </tr>
            </thead>
            <tbody>
            {volist name="news_list" id="news"}
            <tr>
                <td>{$news.news_title}</td>
                <td><span title="{:lang('ds_editable')}" ajax_branch='news' datatype="number" fieldid="{$news.news_id}" fieldname="news_order" ds_type="inline_edit" class="editable">{$news.news_order}</span></td>
                <td>
                    <a href="javascript:dsLayerConfirm('{:url('news/setnews',['news_type'=>'news_top_ok','news_id'=>$news.news_id])}','{$Think.lang.ds_confirm_update}')">
                        {if condition="$news.news_top_ok eq 1"}<i class="layui-icon">&#xe605;</i>{else}<i class="layui-icon">&#x1006;</i>{/if}
                    </a>
                </td>
                <td>
                    <a href="javascript:dsLayerConfirm('{:url('news/setnews',['news_type'=>'news_com_ok','news_id'=>$news.news_id])}','{$Think.lang.ds_confirm_update}')">
                        {if condition="$news.news_com_ok eq 1"}<i class="layui-icon">&#xe605;</i>{else}<i class="layui-icon">&#x1006;</i>{/if}
                    </a>
                </td>
                <td>
                    <a href="{:url('Home/news/detail',['news_id'=>$news.news_id])}" target="_blank" class="layui-btn layui-btn-primary layui-btn-xs"><i class="layui-icon layui-icon-list"></i>前台查看</a>
                    <a href="{:url('News/edit',['news_id'=>$news.news_id])}" class="layui-btn layui-btn-xs"><i class="layui-icon layui-icon-edit"></i>{$Think.lang.ds_edit}</a>
                    <a href="javascript:dsLayerConfirm('{:url('News/del',['news_id'=>$news.news_id])}','{$Think.lang.ds_confirm_cancel}')" class="layui-btn layui-btn-danger layui-btn-xs"><i class="layui-icon layui-icon-delete"></i>{$Think.lang.ds_del}</a>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
        {$show_page}
    </div>
</div>
<script type="text/javascript" src="{$Think.ADMIN_SITE_ROOT}/js/jquery.edit.js"></script>
{/block}