
{extend name="index:base" /}
{block name="title"}<title>后台管理系统</title>{/block}
{block name="style"}{/block}
{block name="body"}

<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
         <h1 style="color:red;font-size:20px;font-weight:bold;text-align:center;">操作说明</h1>
		<p style="color:red;font-size:16px;font-weight:bold;text-align:center;margin:8px 0;background:#FFC;padding:8px;">管理组状态为禁止时，该管理组下的管理员将无法进行任何操作！</p>
      <div class="page_title">
       <h2 class="fl">管理组列表</h2>
       <a href="{:url('group/add')}" class="fr top_rt_btn add_icon">添加管理组</a>
      </div>
      <table class="table">
       <tr>
        <th>Id</th>
        <th>管理组名称</th>
        <th>说明</th>
        <th>状态</th>
        <th>操作</th>
       </tr>
	   {foreach name="list" id="vo"}
       <tr class="id_{$vo.id}">
        <td class="center">{$vo.id}</td>
        <td>{$vo.name}</td>
        <td class="center">{$vo.description}</td>
        <td class="center">{if condition="$vo.status eq 1"}<a title="正常" class="link_icon">&#89;</a>{else/}<a title="禁止" class="link_icon" style="color:red;">&#88;</a>{/if}</td>
        <td class="center">
         <a href="{:url('group/edit')}?id={$vo.id}" title="编辑" class="link_icon">&#101;</a>
         <a href="#" title="删除" class="link_icon del" data-id="{$vo.id}">&#100;</a>
        </td>
       </tr>
		{/foreach}
      </table>
 </div>
</section>


{/block}
{block name="script"}
<script>
$(document).ready(function() {
  //测试提交，对接程序删除即可
	$('.del').click(function(event){
		var id = $(this).attr('data-id');
		
		$.ajax({
			url:"{:url('group/del')}",
			dataType:"json",
			type:'POST',
			cache:false,
			data:{op:'groupdel',id:id},
			success: function(data) {
				console.log(data.s);
				if (data.s=='ok') {				
					myAlert('删除成功');
					setTimeout(function(){
					//页面刷新  
					window.location.reload();
					},1000);
				}else {
					myAlert(data.s);
				}
			}
		});
	});  
	
});
</script>
{/block}	