<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>
<rewrite>
<rules>

<!-- 伪静态规则 -->
<rule name="WWW Redirect" stopProcessing="true">
<match url=".*" />
<conditions>
<add input="{HTTP_HOST}" pattern="^test.com$" />
</conditions>
<action type="Redirect" url="http://www.test.com/{R:0}" redirectType="Permanent" />
</rule>

<rule name="已导入的规则 1" stopProcessing="true">
<conditions>
<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
</conditions>
<match url="^(.*)$" ignoreCase="false" />
<action type="Rewrite" url="/plus/rewrite.php?s={R:1}" appendQueryString="false" />
</rule>

<rule name="已导入的规则 2" stopProcessing="true">
<conditions>
<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
</conditions>
<match url="^$" ignoreCase="false" />
<action type="Rewrite" url="/plus/rewrite.php?s={R:1}" appendQueryString="false" />
</rule>
<!-- 伪静态规则 End -->

</rules>
</rewrite>

</system.webServer>
</configuration>