body{
				margin: 0px;
				padding: 0px;
           }
		#video{
			position: relative;
			background-size: 100% 100%;
		}
		#vid{
			width: 60px;
			height: 60px;
			
			
			padding-top: 30px;
			position: absolute;
			background-size: 100% 100%;
		}