			.title {
				margin: 20px 15px 10px;
				color: #6d6d72;
				font-size: 15px;
			}
			
			progress {
				border-radius: 2px;
				border-left: 1px #ccc solid;
				border-right: 1px #ccc solid;
				border-top: 1px #aaa solid;
				background-color: #eee;
			}
			
			progress::-webkit-progress-bar {
				background-color: #d7d7d7;
			}
			
			progress::-webkit-progress-value {
				background-color: #aadd6a;
			}